{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="block simple wide choose-check-type">
    <header>
        <h2>
            {% trans "Choose the type of check" %}
        </h2>
    </header>

    <div class="content">

        <a href="{% url "new_check_next" pk=pk type='pingcheck' %}" class="button">
            <h3>Ping check</h3>
            <span class="desc">
                Add a new check that uses ICMP packages to test the remote server.
            </span>
        </a>

        <a href="{% url "new_check_next" pk=pk type='dnscheck' %}" class="button">
            <h3>DNS check</h3>
            <span class="desc">
                Add a new check to monitor the DNS registers of a domain.
            </span>
        </a>

        <a href="{% url "new_check_next" pk=pk type='portcheck' %}" class="button">
            <h3>Port check</h3>
            <span class="desc">
                Monitor the status of a remote port.
            </span>
        </a>

        <a href="{% url "new_check_next" pk=pk type='httpcheck' %}" class="button">
            <h3>HTTP check</h3>
            <span class="desc">
                Use HTTP requests to check the status and content of a website.
            </span>
        </a>
    </div>
</div>

{% endblock %}