{% extends "base.html" %}
{% load i18n %}
{% load frontend_extras %}

{% block content %}
<div class="single-check">
    <header class="container cf">
        <div class="icon">
            {% if not check.is_active %}
                <i class="check-status-icon fa fa-clock-o fa-4x"></i>
            {% elif not check.last_status %}
                <i class="check-status-icon fa fa-refresh fa-spin fa-4x"></i>
            {% elif check.last_status.status != 0 %}
                <i class="check-status-icon fa fa-exclamation-circle fa-4x"></i>
            {% else %}
                <i class="check-status-icon fa fa-check-circle-o fa-4x"></i>
            {% endif %}
        </div> {# .icon #}

        <div class="texts">
            <h2>{{ check.title }}</h2>
            <div class="desc">
                <strong>{% trans "Type" %}:</strong> {{ check }}
            </div>
            <div class="desc">
                <strong>{% trans "Description" %}:</strong> {{ check.description|default:"<em>No description</em>"}}
            </div>
        </div> {# .texts #}
    </header>

    <div class="check-actions container">
        <div class="button-group">
            <a class="button" href="{{ check.edit_url }}?back_to=detail">
                <i class="fa fa-pencil"></i> {% trans "Edit" %}
            </a>

            <a class="button" href="{{ check.delete_url }}?back_to=detail">
                <i class="fa fa-times"></i> {% trans "Delete" %}
            </a>

            {% if not check.is_active %}
                <a class="button" href="{{ check.enable_url }}">
                    <i class="fa fa-power-off"></i> {% trans "Enable" %}
                </a>
            {% else %}
                <a class="button" href="{{ check.disable_url }}">
                    <i class="fa fa-power-off"></i> {% trans "Disable" %}
                </a>
            {% endif %}
        </div>
    </div> {# .check-actions #}

    <div class="container tabs">
        <header class="tabs-header cf">
            {% for period in periods %}
                <a href="#">
                    {{ period.title }}
                </a>
            {% endfor %}
        </header>

        {% for period in periods %}

            <div class="tabs-content">

                <div class="content summary">
                    <div>
                         <span>{{ period.logs.avg_status|default:"- " }}%</span>
                        uptime
                    </div>

                    {% if check.type_name == "pingcheck" %}
                    <div>
                        <span>{{ period.logs.avg_response_time|floatformat:"0"|default:"- " }}ms</span>
                        avg. response
                    </div>

                    <div>
                        <span>{{ period.logs.max_response_time|floatformat|default:"- " }}ms</span>
                        max. response
                    </div>

                    <div>
                        <span>{{ period.logs.min_response_time|floatformat|default:"- " }}ms</span>
                        min. response
                    </div>

                    {% endif %}
                </div>

                <div class="detail-graph graph_{{ check.unique_name }}_{{ period.title|slugify}}" data-uniquename=".graph_{{ check.unique_name }}_{{ period.title|slugify}}">
                    <div class="placeholder">Fetching graph data...</div>
                </div>

                <script>
                    if (typeof graphInfo == "undefined") {
                        graphInfo = [];
                    }
                    (function(){
                        var graphName = ".graph_{{ check.unique_name }}_{{ period.title|slugify}}";
                        graphInfo[graphName] = [];
                        graphInfo[graphName]['is_single'] = true;
                        graphInfo[graphName]['data'] = [

                            {% if check.type_name == "pingcheck" %}
                                {% for log in period.logs.objs %}
                                    [ "{{ log.date.isoformat }}", {{ log.response_time }}],
                                {% endfor %}
                            {% else %}
                                {% for log in period.logs.objs %}
                                    [ "{{ log.date.isoformat }}", {{ log.get_status }}],
                                {% endfor %}
                            {% endif %}

                        ];
                        graphInfo[graphName]['status'] = {% if check.last_status and check.last_status.status == 0 %}0{% else %}1{% endif %};
                        graphInfo[graphName]['type'] = '{{ check.type_name }}';
                    })();
                </script>

                {# Latest events block #}

                <h3>
                    {% trans "Events in the" %} {{ period.title|lower }}
                </h3>

                <table class="status-table">
                    <thead>
                        <th></th>
                        <th>{% trans "Status" %}</th>
                        <th>{% trans "Duration" %}</th>
                        <th>{% trans "Start date" %}</th>
                        <th>{% trans "End date" %}</th>
                        <th>{% trans "Extra" %}</th>
                    </thead>

                    <tbody>
                    {% for status in period.statuses  %}
                        <tr class="single-status">
                            <td>
                            {% if status.status == 0 %}
                                <i class="fa fa-arrow-up fa-lg"></i>
                            {% else %}
                                <i class="fa fa-arrow-down fa-lg"></i>
                            {% endif %}
                            </td>

                            <td>
                                {% if status.status == 0 %}
                                    {% trans "Up" %}
                                {% else %}
                                    {% trans "Down" %}
                                {% endif %}
                            </td>
                            <td>
                                {% if not status.date_end %}
                                    <strong>[ {% trans "Current state" %} ] </strong>
                                {% else %}
                                    {{ status.get_duration }}
                                {% endif %}
                            </td>
                            <td>
                                {{ status.date_start | date:"Y/m/d - G:i" }}
                            </td>
                            <td>
                                {{ status.date_end | date:"Y/m/d - G:i"  }}
                            </td>
                            <td>
                                {{ status.status_extra }}
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>

            </div> {# .tabs-content #}

        {% endfor %}
    </div> {# .container.tabs #}





</div>
{% endblock content %}

