<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>


    <meta name="viewport"    content="width=device-width, initial-scale=1.0">
    <meta name="author"      content="José Tomás Tocino - <theom3ga@gmail.com>">
    <meta name="description" content="">

    {% load staticfiles %}
    {% load i18n %}

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,600" >
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">

    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block "head_extra" %}
    {% endblock "head_extra" %}
</head>
<body>

<header class="main">
    <div class="container">
        <h1>
            <a href="/">
                SiteUp
            </a>
        </h1>

        <ul>
        {% if not user.is_authenticated %}
            <li>
                <a href="/login">{% trans "Log in" %}</a>
            </li>
            <li class="signup">
                <a href="/signup">{% trans "Sign up" %}</a>
            </li>
        {% else %}
            <li>
                <a href="/dashboard">{% trans "Dashboard" %}</a>
            </li>
            <li>
                <a href="/profile">{% trans "Your profile" %}</a>
            </li>
            <li class="signup">
                <a href="/logout">{% trans "Log out" %}</a>
            </li>
        {% endif %}

        </ul>
    </div>
</header>

<div class="content-wrapper">

{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="message container {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

    {% block "content" %}
        wat
    {% endblock %}
</div>

<footer class="main">
    <div class="container">
        &copy; SiteUp 2014 - All rights reserved
    </div>
</footer>

<script type="text/javascript" src="{% static "js/main.js" %}"></script>
</body>
</html>