{% extends "base.html" %}
{% load i18n %}
{% load frontend_extras %}

{% block head_extra %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script>
        google.load("visualization", "1", {packages:["corechart", "timeline"]});
    </script>
{% endblock head_extra %}

{% block content %}

<nav class="controls container cf">
    <div class="left">
        {% if check_groups %}
            You have {{ check_groups | length }} groups
        {% endif %}
    </div>

    <div class="right">
        <a href="/groups/new" class="button">
            <i class="fa fa-plus-circle"></i>
            {% trans "Add group" %}
        </a>
    </div>
</nav>

{% if not check_groups %}
    <div class="message-no-groups container">
        {% trans "You currently have no check groups. Add one using the button above." %}
    </div>
{% else %}

{% for check_group in check_groups %}
    <div class="block complex check-group">
        <header>
            <h3>
                {{ check_group.title | truncatechars:70 }}
            </h3>

            <div class="actions">
                <div class="button has-submenu">
                    <i class="fa fa-cog"></i> {% trans "Actions" %}

                    <ul class="submenu">
                        <li>
                            <a href="{% url "new_check" check_group.id %}">
                                <i class="fa fa-plus-circle"></i> {% trans "Add check" %}
                            </a>
                        </li>

                        <li>
                            <a href="{% url "enable_group" check_group.id %}">
                                <i class="fa fa-power-off"></i> {% trans "Enable all checks" %}
                            </a>
                        </li>

                        <li>
                            <a href="{% url "disable_group" check_group.id %}">
                                <i class="fa fa-power-off"></i> {% trans "Disable all checks" %}
                            </a>
                        </li>


                        <li>
                            <a href="{% url "edit_group" check_group.id %}">
                                <i class="fa fa-pencil"></i> {% trans "Edit" %}
                            </a>
                        </li>

                        <li>
                            <a href="{% url "delete_group" check_group.id %}">
                                <i class="fa fa-times"></i> {% trans "Delete" %}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <div class="content check-group-content">
            {% if not check_group.checks %}
                <div class="message-no-checks">
                    {% trans "This group has no checks. Add one using the <em>add check</em> button." %}
                </div>
            {% else %}

            {% for check in check_group.checks %}

                <div class="check-in-list cf {% if not check.is_active %}inactive{% endif %} {% if check.last_status and check.last_status.status != 0 %}check-down{% endif %}">

                    <div class="check-status">
                        {% if not check.is_active %}
                            <i class="check-status-icon fa fa-clock-o"></i>
                            <span class="check-status-text">{% trans "Disabled" %}</span>
                        {% elif not check.last_status %}
                            <i class="check-status-icon fa fa-refresh fa-spin"></i>
                            <span class="check-status-text">{% trans "Fetching..." %}</span>
                        {% elif check.last_status.status != 0 %}
                            <i class="check-status-icon fa fa-arrow-circle-down"></i>
                            <span class="check-status-text">{% trans "Down" %}</span>
                        {% else %}
                            <i class="check-status-icon fa fa-arrow-circle-up"></i>
                            <span class="check-status-text">{% trans "Up" %}</span>
                        {% endif %}
                    </div> {# .check-inner #}

                    <div class="check-graph">

                        {% if not check.last_status %}
                            <div class="check-no-graph">
                                {% trans "No data yet" %}
                            </div>
                        {% else %}
                        <div class="check-graph-container graph_{{ check.unique_name }}"></div>

                        <script>
                            if (typeof graphInfo == "undefined") {
                                graphInfo = [];
                            }
                            (function(){
                                var graphName = ".graph_{{ check.unique_name }}";
                                graphInfo[graphName] = [];
                                graphInfo[graphName]['data'] = [
                                    {% for log in check.logs.latest_hours %}
                                        {% if check.type_name == "pingcheck" %}
                                            [ new Date("{{ log.date.isoformat }}"), {{ log.response_time }}],
                                        {% else %}
                                            [ new Date("{{ log.date.isoformat }}"), {{ log.get_status }}],
                                        {% endif %}
                                    {% endfor %}
                                ];
                                graphInfo[graphName]['status'] = {% if check.last_status and check.last_status.status == 0 %}0{% else %}1{% endif %};
                                graphInfo[graphName]['type'] = '{{ check.type_name }}';
                            })();
                        </script>

                        {% endif %}
                    </div> {# .check-graph #}

                    <div class="check-info">
                        <h4>
                            {% if not check.is_active %} <span class="inactive-preffix">[{% trans "Disabled" %}]</span> {% endif %}
                            {{ check.title }}
                        </h4>

                        <h5>
                            {{ check | verbose_name | title }} - {{ check.target }}
                        </h5>

                        <div class="desc">
                            {{ check.description|default:"<em>No description</em>" }}
                        </div>

                        <div class="button-group">
                            <a class="button" href="{% url "view_check" type=check|classname|lower pk=check.id  %}">
                                <i class="fa fa-info-circle"></i> {% trans "Details" %}
                            </a>

                            <a class="button" href="{% url "edit_check" type=check|classname|lower pk=check.id  %}">
                                <i class="fa fa-pencil"></i> {% trans "Edit" %}
                            </a>

                            <a class="button" href="{% url "delete_check" type=check|classname|lower pk=check.id %}">
                                <i class="fa fa-times"></i> {% trans "Delete" %}
                            </a>

                            {% if not check.is_active %}
                                <a class="button" href="{% url "enable_check" type=check|classname|lower pk=check.id %}">
                                    <i class="fa fa-power-off"></i> {% trans "Enable" %}
                                </a>
                            {% else %}
                                <a class="button" href="{% url "disable_check" type=check|classname|lower pk=check.id %}">
                                    <i class="fa fa-power-off"></i> {% trans "Disable" %}
                                </a>
                            {% endif %}
                        </div>

                    </div> {# .check-info #}

                </div> {# .check #}

            {% endfor %}
            {% endif %}

        </div> <!-- .check-group-content -->
    </div>
{% endfor %}

{% endif %}

{% endblock %}