{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="block narrow simple">
    <header>
        <h2>
            {% trans "Confirm deletion" %}
        </h2>
    </header>

    <form action="" method="POST">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <div class="info">
        {% blocktrans %}
            Are you sure you want to delete the check?
        {% endblocktrans %}
        <br>
        {% trans "Title" %}: {{ object.title }}
        </div>

        <fieldset class="actions">
            {% if back_to %}
                <a href="{{ back_to }}">Go back</a>
            {% endif %}
            <input type="submit" value="{% trans "Delete" %}">
        </fieldset>
    </form>
</div>

{% endblock %}