{% extends "base.html" %}
{% load i18n %}

{% block "content" %}
<div class="form wide">
    <h2>
        {{ form_title }}
    </h2>

    <form action="" method="POST">
        {% csrf_token %}

        {{ form.non_field_errors }}

        {% for field in form %}
            <div class="field">
                <div class="field-info">
                    {{ field.label_tag }}
                    <div class="help_text">
                        {% if field.field.required %}
                            <strong>{% trans "Required" %}.</strong>
                        {% endif %}
                        {{ field.help_text }}
                    </div>
                </div>

                <div class="field-widget">
                    {{ field }}
                    {{ field.errors }}
                </div>
            </div>
        {% endfor %}


        <fieldset class="actions">
            <input type="submit" value="{{  form_submit }}">
        </fieldset>


        {% if subactions %}
            <fieldset class="subactions">
            {% for subaction in subactions %}
                <a href="{% url subaction.url %}">
                    {{ subaction.title }}
                </a><br>
            {% endfor %}
            </fieldset>
        {% endif %}
    </form>
</div>

{% endblock %}