{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="block simple {{ form_class|default:"wide" }} ">

    {% if form_title %}
        <header>
            <h2>
                {{ form_title }}
            </h2>
        </header>
    {% endif %}

    <form action="" method="POST">
        {% csrf_token %}

        {{ form.non_field_errors }}

        {% for field in form %}
            <div class="field">

                <div class="field-info">
                    {{ field.label_tag }}

                    {# Only show the help_text div if there's... help text #}
                    {% if field.field.required or field.help_text %}
                        <div class="help_text">
                            {% if field.field.required %}
                                <strong>{% trans "Required" %}.</strong>
                            {% endif %}
                            {{ field.help_text|safe }}
                        </div>
                    {% endif %}
                </div>

                <div class="field-widget">
                    {{ field }}
                    {{ field.errors }}
                </div>
            </div>
        {% endfor %}


        <fieldset class="actions">
            {% if back_to %}
                <a href="{{ back_to }}">Go back</a>
            {% endif %}

            <input type="submit" value="{{  form_submit }}">
        </fieldset>


        {% if subactions %}
            <fieldset class="subactions">
            {% for subaction in subactions %}
                <a href="{% url subaction.url %}">
                    {{ subaction.title }}
                </a><br>
            {% endfor %}
            </fieldset>
        {% endif %}
    </form>

</div>

{% endblock %}