{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
<div class="jumbo container">

    <img class="main-logo" src="{% static "images/logo.png" %}" alt="">

    <h2>
        Website monitoring, made easy
    </h2>

    <h3>
        <strong>SiteUp</strong> lets you monitor your websites and remote
        machines really easily, with just a couple of clicks.
    </h3>

    <div class="services cf">

        <div class="service">
            <div>
                <i class="fa fa-bolt"></i>
                <span>
                    Ping checks
                </span>
            </div>
        </div>

        <div class="service">
            <div>
                <i class="fa fa-code"></i>
                <span>
                    HTTP checks
                </span>
            </div>
        </div>

        <div class="service">
            <div>
                <i class="fa fa-exchange"></i>
                <span>
                    DNS checks
                </span>
            </div>
        </div>

        <div class="service">
            <div>
                <i class="fa fa-sitemap"></i>
                <span>
                    Port checks
                </span>
            </div>
        </div>
    </div>

    <div class="services">

        <div class="service">
            <div>
                <i class="fa fa-clock-o"></i>
                <span>
                    Checks every minute
                </span>
            </div>
        </div>

        <div class="service">
            <div>
                <i class="fa fa-envelope-o"></i>
                <span>
                    Email notifications
                </span>
            </div>
        </div>

        <div class="service">
            <div>
                <i class="fa fa-android"></i>
                <span>
                    Android notifications <em>(soon)</em>
                </span>
            </div>
        </div>

    </div> {# .services #}

    <h4>
        <a href="{% url 'signup' %}">Get started</a> now, it's free!
    </h4>

</div>
{% endblock %}