{% extends "base.html" %}
{% load i18n %}

{% block "content" %}
<div class="login form">
    <form action="" method="POST">
        {% csrf_token %}

        {{ form.non_field_errors }}

        {% for field in form %}
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        {% endfor %}


        <fieldset class="text_right">
            <p class="left">
                <a href="/reset-password">
                    {% trans "Reset my password" %}
                </a>
            </p>

            <input type="submit" value="{% trans "Log in" %}">
        </fieldset>
    </form>
</div>

{% endblock %}