{% extends "base.html" %}
{% load i18n %}

{% block "content" %}
<div class="login form">
    <form action="" method="POST">
        {% csrf_token %}

        {{ form.non_field_errors }}

        {% for field in form %}
            <div class="field">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}

        <fieldset class="actions">
            <input type="submit" value="{% trans "Sign up" %}">
        </fieldset>
    </form>
</div>

{% endblock %}