.single-check {
    margin: 15px auto;
    // border-radius: 3px;
    // border: 1px solid $color6;
    // box-shadow: 0 0 2px rgba($color6, 0.5);

    header {
        .icon {
            margin-right: 1rem;
            margin-bottom: 1rem;
            width: 50px;
            float: left;
            font-size: 0.9em;
        }

        .texts {
            margin-left: 1em;

            h2 {
                margin-top: 0;
                margin-bottom: 0;
                color: $color2;
                font-weight: 700;
            }

            .desc {
                font-size: 0.8rem;
                strong {
                    font-weight: 600;
                }
            }
        }
    }

    .graph {
        height: 150px;
    }

    .summary {
        text-align: center;

        > div {
            display: inline-block;
            max-width: 20%;
            vertical-align: middle;
        }

        > div + div {
            margin-left: 1rem;
            padding-left: 1rem;
            border-left: 1px solid $color6;
        }

        span {
            font-size: 1.3rem;
            font-weight: 600;
            display: block;
        }

        @media (max-width: 40rem) {
            font-size: 0.7rem;

            span {
                font-size: 1rem;
            }
        }
    }

    .status-table {
        width: 100%;

        font-size: 0.8rem;

        th {
            font-weight: 600;
        }

        tbody {
        }

        td {
            padding: 0.5rem 0;
            font-size: 0.85em;
            text-align: center;
        }
    }

    .single-status {
        padding: 0 0 10px;

        & + .single-status {
            border-top: 1px dotted $color5;
            padding-top: 10px;
        }

        .info {
        }
        .fa-arrow-down {
            color: #e52418;
        }
        .fa-arrow-up {
            color: #91e547;
        }
    }

    .check-actions {
        text-align: center;
        margin: 0.5rem auto;
    }

    .last-events {
        header {
            line-height: 2rem;

            h3 {
                font-size: 0.8rem;
            }
        }

    }
}