.check-type-button {
    display: block;
    background-color: darken($color7, 2%);
    border-radius: 3px;
    padding: 10px 20px;
    margin-bottom: 10px;

    &:hover {
        background-color: $color6;
        text-decoration: none;
    }

    h2 {
        margin: 0;
        color: $color3;
    }

    .desc {
        color: $color4;
    }
}

.choose-check-type {
    .button {
        width: 100%;
        margin-bottom: 10px;

        h3 {
            font-weight: 600;
        }

        .desc {
            color: $color4;
        }
    }
}