nav.controls {
    > .left {
        padding-top: 5px;
    }

    margin-top: 15px;
    margin-bottom: 15px;
}

.check-list {
    margin-top: 10px;
}

.message-no-groups, .message-no-checks {
    border-radius: 3px;
    text-align: center;
    text-shadow: 0 1px 0 white;
    padding: 30px 0;
}

.message-no-groups {
    background-color: $color6;
}

.inactive {
    color: rgba($color2, 0.5);

    .check-graph {
        opacity: 0.5;
    }
}

.inactive-preffix {
    // font-style: italic;
    color: $color4;
    margin-right: 10px;
}

.check {
    @extend .cf;
    // display: table-row;
    width: 100%;

    & > div {
        float: left;
        // display: table-cell;
        // vertical-align: top;
    }

    & + .check {
        border-top: 1px solid $color6;
    }
}

.check-down {
    background-color: rgba(mix(#b3d2d7, #f00, 30%), 0.1);
    color: #e83f40;
}

.check-status {

    padding: 10px 16px 8px 16px;

    border-radius: 3px;
    text-align: center;
    min-width: 130px;

    &.ok {
        // background-color: #8adc60;
        // color: #8adc60;
    }

    .check-status-icon {
        font-size: 58px;
        display: block;
        margin-bottom: 10px;
    }

    .fa-exclamation-circle {
        // background-color: #f00;
        color: mix(#b3d2d7, #f00, 30%);
    }
}

.check-info {
    font-size: 14px;
    padding: 10px 0 15px;
    width: 528px;

    h4 {
        font-weight: 600;
        margin: 0;
        font-size: 16px;
    }

    h5 {
        margin: 0.1em 0 0.5em;
        font-weight: normal;
        font-family: 'Consolas', monospace;
    }

}

.check-graph {
    padding: 0px;
    width: 400px;

    .check-graph-container {
        height: 140px;
    }
}

.check-no-graph {
    line-height: 140px;
    text-align: center;
    font-style: italic;
    font-size: 14px;
}


#graphs{
    margin-bottom:2em
}

