nav.controls {
    // border-bottom: 1px solid #b3d2d7;
    // padding-bottom: 10px;

    > .left {
        padding-top: 5px;
    }
}

.message-no-checks {
    background-color: rgba(#000, 0.1);
    text-align: center;
    padding: 30px 0;
    border-top: 1px solid rgba(#b3d2d7, 0.3);
    border-bottom: 1px solid rgba(#b3d2d7, 0.3);
}

.check-group {
    // border-top: 1px solid #b3d2d7;
    // border-left: 1px solid #b3d2d7;
    // background-color: rgba(179, 210, 215, 0.05);
    border-collapse: collapse;

    margin: 15px 0 0;
    padding-bottom: 5px;
    overflow: hidden;

    border-top: 1px solid rgba(#b3d2d7, 0.5);

    .message-no-checks {
        background-color: rgba(#000, 0.05);
    }

    & > header {
        @extend .cf;
        padding: 10px;
        background-color: rgba(#000, 0.1);

        h3 {
            width: 800px;
            float: left;
            margin: 0;
            font-weight: 600;
            font-size: 20px;
        }

        .actions{
            float: right;
            // font-size: 35px;
            // line-height: 35px;
        }

    }

    h3, h4 {
        color: #fff;
    }

    .check {
        // @extend .cf;
        display: table-row;
        width: 100%;
        padding: 20px;
        background-color: rgba(#000, 0.05);

        & > div {
            display: table-cell;
            vertical-align: top;
        }

        border-top: 1px dotted rgba(#b3d2d7, 0.3);

        // & + .check {
        // }
    }

    .check-status {

        padding: 0 16px 8px 16px;

        // background-color: #333;
        border-radius: 3px;
        font-size: 58px;

        &.ok {
            // background-color: #8adc60;
            // color: #8adc60;
        }

        .fa-exclamation-circle {
            // background-color: #f00;
            color: mix(#b3d2d7, #f00, 30%);
        }
    }

    .check-info {
        font-size: 14px;
        padding: 10px 0 15px;

        h4 {
            font-weight: 600;
            margin: 0;
            font-size: 16px;
        }

        h5 {
            margin: 0.1em 0 0.5em;
            font-weight: normal;
            font-family: 'Consolas', monospace;
        }

    }

    .check-graph {
        padding: 15px;
        width: 400px;

        .check-graph-container {
            height: 100px;

            .axis{
                fill:#fff;
                font-size:10px;
            }

            line, path {
                stroke-width:hairline;
                fill:none;
                stroke:#eee;
                shape-rendering:crispEdges;
            }

            path.path {
                stroke:#fff;
                stroke-width:2px;
                stroke-opacity:1;
                fill:none;
            }
        }
    }
}

#graphs{
    margin-bottom:2em
}

