.jumbo {
    overflow: hidden;

    h2 {
        color: $color2;
        text-align: center;
        font-size: 3em;
        margin: 0;

        @include text-shadow(rgba(black, 0.15) 0px 3px 0);
    }

    p {
        color: $color2;
        text-align: center;
        padding: 0 150px;
    }
}