$transitionTime: 0.2s;

body {
    background-color: $color6;
    color: $color2;

    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

.general-wrapper {
    // box-shadow: 0px 0px 5px 0px rgba(#000, 0.75);
}

.content-wrapper {
    background-color: $color7;
    padding: 0 0 20px;
    border-bottom: 1px solid $color5;
    // overflow: hidden;
    border-top: 1px solid $color1;

    &::after {
        // display: block;
        // position: absolute;
        // content: "";
        // z-index: -1;
        // top: 5px;
        // left: 5px;
        // right: 5px;
        // bottom: 5px;
        // border: 5px solid #ffea00;
    }
}

.container {
    width: 1060px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: $color3;
    transition: all 0.2s;

    &:hover {
        // color: lighten($color3, 80%);
        text-decoration: underline;
    }
}

.button {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all 0.3s;
    font-size: 14px;
    text-align: left;
    line-height: normal;
    border-radius: 3px;
    padding: 6px 12px;
    color: $color2;
    background-color: $color8;
    border: 1px solid $color5;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);

    opacity: 1 !important;

    &:hover {
        background-color: $color7;
        // color: $color8;
        text-decoration: none;
    }

    &.small {
        font-size: 12px;
        padding: 3px 6px;
    }
}

.has-submenu {
    position: relative;

    &.submenu-anchor-left .submenu {
        left: -1px;
        right: auto;
        border-radius: 0px 5px 5px 5px;
    }

    &:hover {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;

        .submenu {
            visibility: visible;
            opacity: 1;
        }
    }
}

.submenu {
    position: absolute;
    z-index: 100;
    top: 17px;
    right: -1px;
    width: 150px;
    padding: 4px 15px;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;

    border: 1px solid $color5;
    background-color: $color7;
    border-radius: 5px 0 5px 5px;
    transition: all 0.3s;
    list-style: none;

    li {
        font-size: 13px;
        padding: 5px 0;
    }

    a {
        display: block;
    }

    .fa {
        margin-right: 7px;
    }

    li + li {
        border-top: 1px solid $color5;
    }
}

h2 {
    font-weight: 600;
    font-size: 20px;
    color: $color4;
}