.container {
    width: 1060px;
    margin: 0 auto;
}

body {
    background: url(../images/body-bgs.png) desaturate(darken(#224f6b, 5%), 10%);
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #b3d2d7;
}

a {
    text-decoration: none;
    color: #59a8b8;

    &:hover {
        color: lighten(#59a8b8, 30%);
        text-decoration: underline;
    }
}

input[type=text], input[type=password], input[type=email] {
    border-radius: 2px;
    padding: 5px 10px;
    border: 0;
}

input[type=submit] {
    border: 0;
    border-radius: 1px;
    padding: 5px 10px;

    background-color: #59a8b8;
}

.button {
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    padding: 6px 12px;
    color: #333;
    background-color: #eff;

    &:hover {
        background-color: #ebebeb;
        border-color: #adadad;
        color: #333;
    }

    &.small {
        font-size: 12px;
        padding: 3px 6px;
    }
}