.block {
    @extend .container;

    margin: 0.7rem auto;

    border-radius: 3px;
    border: 1px solid $color6;
    box-shadow: 0 0 2px rgba($color6, 0.5);
    background-color: lighten($color7, 3%);


    &.narrow {
        max-width: 400px;
    }

    &.wide {
        max-width: 800px;
    }

    &.simple {
        padding: 15px 30px 20px;

        @media (max-width: 640px) {
            padding: 10px 20px;
        }

        header {
            h2 {
                margin: 0 0 10px;
                padding-bottom: 10px;
                font-weight: 600;
                color: $color3;
                border-bottom: 1px dotted $color5;
                font-size: 1.1rem;
            }
        }
    }

    &.complex {
        header {
            @extend .cf;
            padding: 0 10px 0 20px;
            background-color: darken($color7, 3%);
            line-height: 2.5rem;
            // height: 1.1rem;
            border-bottom: 1px solid $color6;
            border-radius: 3px 3px 0 0;

            h3 {
                width: 65%;
                font-size: 1rem;
                float: left;
                margin: 0;
                font-weight: 600;
                color: $color3;
            }

            .actions{
                text-align: right;
                float: right;
                width: 35%;
            }
        }
    }

    .content, form {
        border-radius: 3px;
    }

    * + .content, * + form {
        border-radius: 0 0 3px 3px;
    }

    .content.padded {
        padding: 20px;
    }
}