header.main {
    overflow: hidden;

    a img {
        width: 2.3rem;
        vertical-align: text-top;
        margin-right: 0.3rem;
    }

    a:hover {
        color: lighten($color3, 80%);
    }

    background-color: $color1;

    .container {
        line-height: 83px;
        vertical-align: middle;

        @media (max-width: 570px) {
            line-height: normal;
        }
    }

    h1 {
        margin: 0;
        float: left;
        font-size: 1.75rem;

        @media (max-width: 570px) {
            float: none;
            text-align: center;
            margin: 10px 0;
        }

        a {
            @include text-shadow(rgba(black, 0.15) 0px 3px 0);
            color: $color5;
            letter-spacing: -2px;

            &:hover {
                text-decoration: none;
                color: $color7;
            }
        }
    }

    ul {
        font-size: 0.80rem;
        float: right;
        list-style: none;
        margin: 0;
        padding: 0;


        @media (max-width: 570px) {
            float: none;
            margin-bottom: 15px;
            text-align: center;
        }

        li {
            display: inline-block;
            // float: left;
            line-height: normal;

            &.signup a {
                background: rgba(0,0,0,0.2);
                padding: 5px 10px;
                border-radius: 5px;
            }

            & + li {
                border-left: 1px solid rgba($color3, 0.3);
                margin-left: 15px;
                padding-left: 15px;
            }
        }
    }
}

.help_text {
    font-size: 10px;
}