header.main {
    // padding: 20px 0 20px;

    a:hover {
        color: lighten($color3, 80%);
    }

    background-color: $color1;

    .container {
        @extend .cf;
        height: 83px;
        line-height: 83px;
        vertical-align: middle;
    }

    h1 {
        margin: 0;
        float: left;

        a {
            @include text-shadow(rgba(black, 0.15) 0px 3px 0);
            color: $color5;
            letter-spacing: -2px;

            &:hover {
                text-decoration: none;
                color: $color7;
            }
        }
    }

    ul {
        float: right;
        list-style: none;
        margin: 0;

        li {
            display: inline-block;
            // float: left;
            margin-left: 15px;
            padding-left: 15px;
            line-height: normal;

            &.signup a {
                background: rgba(0,0,0,0.2);
                padding: 5px 10px;
                border-radius: 5px;
            }

            & + li {
                border-left: 1px solid rgba($color3, 0.3);
            }
        }
    }
}

.help_text {
    font-size: 10px;
}