.tabs-header {

    margin-bottom: -1px;

    a {
        border: 1px solid $color6;
        border-bottom-color: transparent;
        display: block;
        float: left;
        border-radius: 7px 7px 0 0;
        padding: 0.3rem 0.6rem;
        font-size: 0.7rem;

        &.active {
            font-weight: bold;
            background-color: $color8;
            border-bottom: 1px solid $color8;
        }
    }

    a + a {
        margin-left: -1px;
    }
}

.tabs-content {
    display: none;
    border: 1px solid $color6;
    border-radius: 0 3px 3px 3px;
    background-color: $color8;
    padding: 0.7rem 0;

    h3 {
        border-top: 1px solid $color6;
        border-bottom: 1px solid $color6;
        background-color: darken($color8, 1);
        padding: 0.5rem 1rem;
        font-weight: normal;
        font-style: italic;
        font-size: 0.9rem;
    }
}