.tabs-header {

    margin-bottom: -1px;

    a {
        border: 1px solid $color6;
        border-bottom: none;
        display: block;
        float: left;
        border-radius: 7px 7px 0 0;
        padding: 0.3rem 0.6rem;
        font-size: 0.7rem;

        &.active {
            background-color: $color8;
            border-bottom: 1px solid $color8;
        }
    }

    a + a {
        margin-left: -1px;
    }
}

.tabs-content {
    display: none;
    border: 1px solid $color6;
    border-radius: 0 3px 3px 3px;
    background-color: $color8;
    padding: 0.7rem 0;

}